
.scrollable {
    overflow-y: scroll;
    height: 600px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.addable-list .form-group{
    margin-bottom: 0px;
}

.compact-list .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.synonyms-sublist {
    color: #666;
    margin-top: 5px;
    margin-bottom: 0px;
}

.synonyms-sublist .list-group-item {
    background-color: #f9f9f9;
}

.remove-list-item {
    border-left: 1px solid #e3e3e3;
    margin-left: 7px;
    padding-left: 7px;
}